<.navbar active-user={assigns[:active_user]} >
  <:logo>
    <.link navigate={"/"} class="flex w-1/6 items-center">
      <.logo />
    </.link>
  </:logo>
  <:link label="Teams" to={"/teams"} />
  <:link label="Projects" to={"/projects"} />
  <:link label="Agents" to={"/agents"} />
</.navbar>

<main class="">
  <div class="w-ful;">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
