<%= if assigns[:active_user] do %>
<.navbar active-user={assigns[:active_user]} >
  <:logo>
    <.link navigate={"/"} class="flex w-1/6 items-center">
      <.logo />
    </.link>
  </:logo>
</.navbar>
<%= else %>
<.navbar active-user={assigns[:active_user]} >
<:logo>
  <.link navigate={"/"} class="flex w-1/6 items-center">
  <.logo />
</.link>
</:logo>
</.navbar>
<% end %>

<main class="">
  <div class="w-ful;">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
