
<div class="flex w-full min-h-[75vh] items-center justify-between align-center">


  <div class="w-3/6 mx-auto">
    <.noizu_alert error-title="Access Denied" error-body="You do not have permission to view this project" />
  </div>


</div>